.app{
    display: flex;
    flex-direction: row; 
    font-family: 'Montserrat', sans-serif;

    .dashboard{
        display: flex;
        align-self: flex-end;
        padding-left: 280px;
        padding-top: 80px; 
        .log-card {
            /* Add shadows to create the "card" effect */
            width: 500px; 
            height: 300px; 
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            .log-card-pic{
                width: 100%; 
            }
            .log-card-container{
                padding: 2px 16px;
            }
          }


    }

    .side-bar{
        display: flex; 
        height: 100%;
        width: 235px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
        color: white; 
        flex-direction: column;

        .logo{
            display: flex;
            padding-left: 20px;        
            font-weight: bold; 
            font-size: 32px; 
            flex-direction: row;
            padding-bottom: 50px; 
            .svg{
                margin-top: -8px; 
            }
        }

        .nav-bar-item-active{
            display: flex; 
            font-size: 20px;
            align-self: flex-end;
            // padding-right: 20px; 
            margin: 10px;  
            color: #B287F5; 

            &:hover{
                color: #B287F5;
            }

        }

        .nav-bar-item-inactive{
            display: flex; 
            font-size: 20px;
            align-self: flex-end;
            // padding-right: 20px; 
            margin: 10px;   

            &:hover{
                color: #B287F5;
            }

        }
    }
}

.login{
    font-family: 'Montserrat', sans-serif;
    display: flex; 
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; 
    background-color: #111;
    padding-top: 20px;
    color: white; 
    flex-direction: column;
    width: 100%;
    height: 100%; 
    // margin-left: 210px;
    // margin-right: 100px;
    .login-form{
        display:flex; 
        flex-direction: column;
        margin-top: 230px; 
        align-self: center;
        .logo{
            font-size: 40px; 
            font-weight: bold; 
            text-align: center;
            display: flex; 
            flex-direction: row;
        }
    }

    

}
input[type=submit] {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
    color: white;
    margin-top: 10px;
    padding:5px 15px; 
    background: #B287F5; 
    &:hover{
        background-color: #cebceb;
    }
    width: 225px;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 2px;
    border-radius: 15px; 
}

input[type=text] {
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px; 
    padding:5px 15px; 
    background: white; 
    width: 200px;
    border:0 none;
    -webkit-border-radius: 2px;
    border-radius: 5px; 
}

input[type=password] {
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px; 
    padding:5px 15px; 
    background: white; 
    width: 200px;
    -webkit-border-radius: 2px;
    border-radius: 5px; 
    border:0 none;
}